{% extends 'base.html' %} 
{% load static %} 
{% block body %}
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  {% for i in categories %}
                  <li>
                    <a href="{% url 'products_by_category' i.slug %}"
                      >{{i.category_name}}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group  .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->



      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">{{products|length}} Items found </span>
          </div>
        </header>
        <!-- sect-heading -->
        <div class="row">
          {% if products %} 
          {% for item in products %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <img src="{{item.image.url }}" />
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{% url 'product_detail' item.category.slug item.slug %}" class="title">{{item.product_name}}</a>
                  <div class="price-wrap mt-2">
                    <span class="price">${{item.price}}</span>
                  </div>
                  <!-- price-wrap.// -->
                </div>
                <a href="{% url 'product_detail' item.category.slug item.slug %}" class="btn btn-block btn-info">View details </a>
              </figcaption>
            </figure>
          </div>
          {% endfor %}
          {% else %}
          <div>
            <h2>No result found. Please try again.</h2>
          </div>
          {% endif %}
        </div>

        <!-- row end.// -->

        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" >Previous</a></li>
          {% endif%}
        
          {% for i in products.paginator.page_range %}
            <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endfor %}
            
        
          {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" >Next</a></li>
          {% endif%}
          </ul>
        </nav>
      </main> 


      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
{% endblock %}
